{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{%- liquid
  assign custom_height_ratio = section.settings.custom_image_ratio | divided_by: 100.0
  assign image_width = 430
  assign image_height = image_width | times: custom_height_ratio | round

  assign limit = section.blocks.size | at_most: section.settings.number_of_items
  if limit == 0
    assign limit = section.settings.number_of_items
  endif
  case limit
    when 0
      assign width_class = 'w20'
    when 2
      assign width_class = 'w50'
    when 3
      assign width_class = 'w33'
    when 4
      assign width_class = 'w25'
    when 5
      assign width_class = 'w20'
    when 6
      assign width_class = 'w16'
    when 7
      assign width_class = 'w14'
    else
      assign width_class = 'w12'
  endcase
  assign img_width_limit = limit
  assign img_width = 100 | divided_by: img_width_limit

  if section.settings.show_link and section.settings.link_text != empty and section.settings.link_url != blank
    assign link = true
  endif

  if section.settings.title != empty or section.settings.text != empty
    assign show_header = true
  elsif link and section.settings.text_alignment == 'start'
    assign show_header = true
  endif

  if section.settings.title != empty or section.settings.text != empty
    assign container_div = true
  endif

  capture title_classes
    echo 'w900'
    if section.settings.text_alignment == 'center'
      echo ' text-center align-center'
    endif
  endcapture
-%}

{%- if link %}
  {%- capture link -%}
    {%- liquid
      assign button_color = section.settings.button_style | split: ' ' | first
      assign button_style = section.settings.button_style | split: ' ' | last
      assign is_link = false
      if button_style == 'link'
        assign is_link = true
      endif
    -%}
    <p class="class-x link{% unless is_link %}-btn{% endunless %}"><a href="{{ section.settings.link_url }}" class="overlay-{{ button_color }} {% if is_link %}inline strong{% elsif button_style == 'inv' %}inv{% endif %}">{% if is_link %}<span>{% endif %}{{ section.settings.link_text }}{% if is_link %}</span>&nbsp;<i aria-hidden="true" class="icon-chevron-right"></i>{% endif %}</a></p>
  {%- endcapture %}
{%- endif -%}

{%- if show_header -%}
  <header class="cols{% if link and section.settings.show_link == false %} align-middle{% endif %}{% if section.settings.title == empty and section.settings.text == empty %} text-end{% endif %} title-styling
    {% if section.settings.title_underline_style != 'none' %}
      title-underline-none
      {% if section.settings.title_underline_style contains 'accent' %}
        title-underline-accent
      {% elsif section.settings.title_underline_style contains 'gradient' %}
        title-underline-gradient
      {% endif %}
      {% if section.settings.title_underline_style contains 'secondary_font' %}
        title-underline-secondary-font
      {% endif %}
    {% endif %}
  ">
    {%- if container_div -%}<div class="{{ title_classes }}">{%- endif -%}
        {%- if section.settings.title != blank -%}
          {{ section.settings.title }}
        {%- endif -%}
      {%- if section.settings.text != empty -%}
        {{ section.settings.text }}
      {%- endif -%}
    {%- if container_div -%}</div>{%- endif -%}
    {%- if link and section.settings.text_alignment != 'center' -%}
      {{ link | replace: 'class-x', 'mobile-hide' }}
    {%- endif -%}
  </header>
{%- endif -%}

<ul class="l4cl inline-links category {{ width_class }} {% if section.block.size > section.settings.number_of_items or section.settings.collections == blank %}slider{% else %}mobile-compact{% endif %}{% if section.settings.title_position == 'center' %} text-center{% endif %} font-regular"
    style="--dist_a: {{ section.settings.space_between }}px;"
>
    {%- for block in section.blocks -%}
      {%- liquid
        capture current
          cycle 1, 2, 3, 4, 5, 6
        endcapture
      -%}
      <li {{ block.shopify_attributes }} data-slide-index={{ forloop.index }} >
        <figure  class="{% if section.settings.show_in_circle and section.settings.custom_image_ratio == 100 %} rounded{% endif %}" style="--ratio:{{ section.settings.custom_image_ratio | divided_by: 100.0 }}">
          {%- if block.settings.show_look_label and block.settings.look_label_text != empty -%}
            <span class="s1lb label plain">
                <span>{{ block.settings.look_label_text }}</span>
            </span>
          {%- endif -%}
          <picture {% if block.settings.video %}class="cover"{% endif %}>
            {% if block.settings.link_url != blank %}
              <a href="{{ block.settings.link_url }}" aria-label="Link for block {{ forloop.index }}"></a>
            {% endif %}
            {%- if block.settings.video -%}
              {%- liquid
                assign source = block.settings.video.sources | where: "height", 1080 | where: "format", "mp4" | first
                if source == nil
                  assign source = block.settings.video.sources | where: "format", "mp4" | first
                endif
                if source == nil
                  assign source = block.settings.video.sources | where: "format", "mov" | first
                endif
                if source == nil
                  assign source = block.settings.video.sources.first
                endif
              -%}
              {% if block.settings.link_url == blank and block.settings.show_video_in_lightbox %}
                {%- liquid
                  if block.settings.image
                    assign preview_image = block.settings.image
                  else
                    assign preview_image = block.settings.video.preview_image
                  endif
                -%}
                <a data-fancybox="section-aside-{{ section.id }}-{{ block.id }}" data-title="{{ block.settings.video.alt | escape }}" href="{{ source.url }}">
                  <img
                    src="{{ preview_image | image_url: width: image_width, height: image_height }}"
                    srcset="{% render 'image-srcset', image: preview_image, format: section.settings.custom_image_ratio, crop: 'center' %}"
                    sizes="
                      {% if settings.width < 2000 %}
                        (min-width: 1300px) {% if img_width == 100 %}calc({{ settings.width }}px * 0.2){% else %}calc({{ settings.width }}px * 0.{{ img_width }}){% endif %},
                      {% endif %}
                      (min-width: 760px) {% if img_width == 100 %}calc(100vw * 0.2){%-else -%}calc(100vw * 0.{{ img_width }}){% endif %},
                      141px
                    "
                    width="{{ image_width }}"
                    height="{{ image_height }}"
                    alt="{{ block.settings.image.alt | default: block.settings.video.alt | default: block.settings.text | escape }}"
                    class="filled"
                    loading="{% if section.index > 1 or forloop.first == false %}lazy{% else %}eager{% endif %}"
                  >
                  <i aria-hidden="true" class="icon-play"></i>
                </a>
              {% else %}
                <video class="lazy" autoplay muted loop playsinline poster="{{ block.settings.video.preview_image | image_url }}">
                  <source data-src="{{ source.url }}" type="video/mp4">
                </video>
              {% endif %}
            {%- elsif block.settings.image -%}
              <img
                src="{{ block.settings.image | image_url: width: image_width, height: image_height }}"
                srcset="{% render 'image-srcset', image: block.settings.image, format: section.settings.custom_image_ratio, crop: 'center' %}"
                sizes="
                   {% if settings.width < 2000 %}
                    (min-width: 1300px) {% if img_width == 100 %}calc({{ settings.width }}px * 0.2){% else %}calc({{ settings.width }}px * 0.{{ img_width }}){% endif %},
                  {% endif %}
                  (min-width: 760px) {% if img_width == 100 %}calc(100vw * 0.2){%-else -%}calc(100vw * 0.{{ img_width }}){% endif %},
                  141px
                "
                width="{{ image_width }}"
                height="{{ image_height }}"
                alt="{{ block.settings.image.alt | default: block.settings.text | escape }}"
                class="filled"
                loading="{% if section.index > 1 or forloop.first == false %}lazy{% else %}eager{% endif %}"
              >
            {% else %}
                {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </picture>
          {%- if block.settings.show_look -%}
            {%- liquid
              assign button_color = block.settings.look_btn_style | split: ' ' | first
              assign button_style = block.settings.look_btn_style | split: ' ' | last
            -%}
            <p class="link-btn text-{{ block.settings.look_position }} visible">
              <a href="./" aria-haspopup="true" aria-label="shop the look" data-products='[{% for product in block.settings.product_list %}"{{ product.url }}"{% unless forloop.last %},{% endunless %}{% endfor %}]' aria-controls="add-products-to-banner"  data-shopthelook style="--btn_circle_size: 45px;" class="circle overlay-{{ button_color }} {% if button_style == 'inv' %} inv{% endif %}"><i aria-hidden="true" class="icon-cart-bag-rounded"></i> <span class="hidden">Add to cart</span></a>
            </p>
          {%- endif -%}
        </figure>
        {%- if block.settings.text != empty -%}
          <p class="size-{{ section.settings.social_title_size | remove: 'px' }}">{{ block.settings.text }}<p>
        {%- endif -%}
      </li>
    {%- endfor -%}
</ul>
{%- if link and section.settings.text_alignment == 'center' -%}
  {{ link | replace: 'class-x', 'm0 text-center' }}
{%- elsif link and section.settings.text_alignment == 'start' -%}
  {{ link | replace: 'class-x', 'm0 mobile-only' }}
{%- endif -%}

<style>
  #shopify-section-{{ section.id }} { z-index: {{ section.settings.fix_zindex }}!important; }
  @media only screen and (min-width: 47.5em) {
    {% if link and section.settings.text_alignment == 'center' %}
      #shopify-section-{{ section.id }} { margin-bottom: {{ section.settings.spacing_desktop }}px; }
    {% else %}
      #shopify-section-{{ section.id }} .l4cl { margin-bottom: {{ section.settings.spacing_desktop | minus: 22 }}px; }
    {% endif %}
    {% if section.settings.spacing_desktop < 0 %}
      #shopify-section-{{ section.id }} + *.has-kinetic-text { pointer-events: none; }
    {% endif %}
  }
  @media only screen and (max-width: 47.5em) {
    {% if link %}
      #shopify-section-{{ section.id }} { margin-bottom: {{ section.settings.spacing_mobile }}px; }
    {% else %}
      #shopify-section-{{ section.id }} .l4cl { margin-bottom: {{ section.settings.spacing_mobile | minus: 8 }}px; }
    {% endif %}
    {% if section.settings.spacing_mobile < 0 %}
      #shopify-section-{{ section.id }} + *.has-kinetic-text { pointer-events: none; }
    {% endif %}
  }
</style>

{% schema %}
{
  "name": "t:sections.social_stories.name",
  "tag": "article",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "id": "custom_image_ratio",
      "type": "range",
      "label": "t:sections.social_stories.settings.custom_image_ratio.label",
      "info": "t:sections.social_stories.settings.custom_image_ratio.info",
      "min": 50,
      "max": 175,
      "step": 5,
      "unit": "%",
      "default": 100
    },
    {
      "id": "show_in_circle",
      "type": "checkbox",
      "label": "t:sections.social_stories.settings.show_in_circle.label",
      "info": "t:sections.social_stories.settings.show_in_circle.info",
      "default": false
    },
    {
      "type": "range",
      "id": "number_of_items",
      "label": "t:sections.social_stories.settings.number_of_items.label",
      "info": "t:sections.social_stories.settings.number_of_items.info",
      "min": 2,
      "max": 8,
      "step": 1,
      "default": 5
    },
    {
      "type": "range",
      "id": "space_between",
      "label": "t:sections.social_stories.settings.space_between.label",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:sections.social_stories.settings.text_alignment.label",
      "options": [
        {
          "value": "start",
          "label": "t:sections.social_stories.settings.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.social_stories.settings.text_alignment.options__2.label"
        }
      ],
      "default": "start"
    },
    {
      "type": "header",
      "content": "t:global.typography.title.label"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "t:global.typography.title.label",
      "info": "t:global.typography.title.info",
      "default": "<h2>Social stories</h2>"
    },
    {
      "type": "select",
      "id": "title_underline_style",
      "label": "t:global.typography.title_underline_style.label",
      "options": [
        {
          "value": "none",
          "label": "t:global.typography.title_underline_style.none.label"
        },
        {
          "value": "secondary_font",
          "label": "t:global.typography.title_underline_style.secondary_font.label",
          "group": "t:global.typography.title_underline_style.group.fonts"
        },
        {
          "value": "secondary_font_accent",
          "label": "t:global.typography.title_underline_style.secondary_font_accent.label",
          "group": "t:global.typography.title_underline_style.group.fonts"
        },
        {
          "value": "secondary_font_gradient",
          "label": "t:global.typography.title_underline_style.secondary_font_gradient.label",
          "group": "t:global.typography.title_underline_style.group.fonts"
        },
        {
          "value": "accent",
          "label": "t:global.typography.title_underline_style.accent.label",
          "group": "t:global.typography.title_underline_style.group.colors"
        },
        {
          "value": "gradient",
          "label": "t:global.typography.title_underline_style.gradient.label",
          "group": "t:global.typography.title_underline_style.group.colors"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:global.typography.text.header"
    },
    {
      "id": "text",
      "type": "richtext",
      "label": "t:global.typography.text.label",
      "default": "<p>Highlight a new Social post and share details related to an image or video</p>"
    },
    {
      "type": "header",
      "content": "t:global.button.header"
    },
    {
      "id": "show_link",
      "type": "checkbox",
      "label": "t:global.button.show_link.label",
      "default": true
    },
    {
      "id": "link_text",
      "type": "text",
      "label": "t:global.button.link_text.label",
      "default": "Button"
    },
    {
      "id": "link_url",
      "type": "url",
      "label": "t:global.button.link_url.label"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:global.button.button_style.label",
      "options": [
        {
          "value": "primary plain",
          "label": "t:global.button.button_style.primary.label",
          "group": "t:global.button.button_style.group.plain"
        },
        {
          "value": "secondary plain",
          "label": "t:global.button.button_style.secondary.label",
          "group": "t:global.button.button_style.group.plain"
        },
        {
          "value": "tertiary plain",
          "label": "t:global.button.button_style.tertiary.label",
          "group": "t:global.button.button_style.group.plain"
        },
        {
          "value": "primary inv",
          "label": "t:global.button.button_style.primary.label",
          "group": "t:global.button.button_style.group.inv"
        },
        {
          "value": "secondary inv",
          "label": "t:global.button.button_style.secondary.label",
          "group": "t:global.button.button_style.group.inv"
        },
        {
          "value": "tertiary inv",
          "label": "t:global.button.button_style.tertiary.label",
          "group": "t:global.button.button_style.group.inv"
        },
        {
          "value": "primary link",
          "label": "t:global.button.button_style.primary.label",
          "group": "t:global.button.button_style.group.link"
        },
        {
          "value": "secondary link",
          "label": "t:global.button.button_style.secondary.label",
          "group": "t:global.button.button_style.group.link"
        },
        {
          "value": "tertiary link",
          "label": "t:global.button.button_style.tertiary.label",
          "group": "t:global.button.button_style.group.link"
        }
      ],
      "default": "primary plain"
    },
    {
      "type": "header",
      "content": "t:sections.social_stories.settings.description.header"
    },
    {
      "type": "select",
      "id": "title_position",
      "label": "t:sections.social_stories.settings.title_position.label",
      "options": [
        {
          "value": "start",
          "label": "t:sections.social_stories.settings.title_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.social_stories.settings.title_position.options__2.label"
        }
      ],
      "default": "start"
    },
    {
      "type": "select",
      "id": "social_title_size",
      "label": "t:sections.social_stories.settings.social_title_size.label",
      "options": [
        {
          "value": "13px",
          "label": "t:global.typography.font_size.13px.label"
        },
        {
          "value": "14px",
          "label": "t:global.typography.font_size.14px.label"
        },
        {
          "value": "16px",
          "label": "t:global.typography.font_size.16px.label"
        },
        {
          "value": "18px",
          "label": "t:global.typography.font_size.18px.label"
        }
      ],
      "default": "13px"
    },
    {
      "type": "header",
      "content": "t:global.spacing.header"
    },
    {
      "id": "spacing_desktop",
      "type": "range",
      "label": "t:global.spacing.spacing_desktop.label",
      "min": -300,
      "max": 300,
      "step": 10,
      "unit": "px",
      "default": 50
    },
    {
      "id": "spacing_mobile",
      "type": "range",
      "label": "t:global.spacing.spacing_mobile.label",
      "min": -300,
      "max": 300,
      "step": 10,
      "unit": "px",
      "default": 30
    },
    {
      "id": "fix_zindex",
      "type": "range",
      "label": "t:global.fix_zindex.label",
      "info": "t:global.fix_zindex.info",
      "min": 0,
      "max": 25,
      "step": 1,
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.social_stories.blocks.image.name",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "t:sections.social_stories.blocks.image.settings.image.label"
        },
        {
          "id": "video",
          "type": "video",
          "label": "t:sections.social_stories.blocks.image.settings.video.label"
        },
        {
          "id": "show_video_in_lightbox",
          "type": "checkbox",
          "label": "t:sections.social_stories.blocks.image.settings.show_video_in_lightbox.label",
          "info": "t:sections.social_stories.blocks.image.settings.show_video_in_lightbox.info"
        },
        {
          "id": "text",
          "type": "inline_richtext",
          "label": "t:sections.social_stories.blocks.image.settings.text.label",
          "default": "Share details about this image or video"
        },
        {
          "id": "link_url",
          "type": "url",
          "label": "t:sections.social_stories.blocks.image.settings.link_url.label"
        },
        {
          "type": "header",
          "content": "t:global.shop_the_look.label"
        },
        {
          "id": "show_look",
          "type": "checkbox",
          "label": "t:global.shop_the_look.show_look.label"
        },
        {
          "type": "product_list",
          "id": "product_list",
          "label": "t:global.shop_the_look.product_list.label",
          "limit": 12
        },
        {
          "type": "select",
          "id": "look_btn_style",
          "label": "t:global.shop_the_look.look_btn_style.label",
          "options": [
            {
              "value": "primary plain",
              "label": "t:global.button.button_style.primary.label",
              "group": "t:global.button.button_style.group.plain"
            },
            {
              "value": "secondary plain",
              "label": "t:global.button.button_style.secondary.label",
              "group": "t:global.button.button_style.group.plain"
            },
            {
              "value": "tertiary plain",
              "label": "t:global.button.button_style.tertiary.label",
              "group": "t:global.button.button_style.group.plain"
            },
            {
              "value": "buy_button plain",
              "label": "t:global.button.button_style.buy_button.label",
              "group": "t:global.button.button_style.group.plain"
            },
            {
              "value": "primary inv",
              "label": "t:global.button.button_style.primary.label",
              "group": "t:global.button.button_style.group.inv"
            },
            {
              "value": "secondary inv",
              "label": "t:global.button.button_style.secondary.label",
              "group": "t:global.button.button_style.group.inv"
            },
            {
              "value": "tertiary inv",
              "label": "t:global.button.button_style.tertiary.label",
              "group": "t:global.button.button_style.group.inv"
            },
            {
              "value": "buy_button inv",
              "label": "t:global.button.button_style.buy_button.label",
              "group": "t:global.button.button_style.group.inv"
            }
          ],
          "default": "buy_button plain"
        },
        {
          "id": "look_position",
          "type": "select",
          "label": "t:global.shop_the_look.look_position.label",
          "info": "t:global.shop_the_look.look_position.info",
          "options": [
            {
              "value": "start",
              "label": "t:global.shop_the_look.look_position.options__1.label"
            },
            {
              "value": "end",
              "label": "t:global.shop_the_look.look_position.options__2.label"
            }
          ],
          "default": "end"
        },
        {
          "id": "show_look_label",
          "type": "checkbox",
          "label": "t:global.shop_the_look.show_look_label.label"
        },
        {
          "id": "look_label_text",
          "type": "text",
          "label": "t:global.shop_the_look.look_label_text.label",
          "default": "Label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.social_stories.presets.name",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
