{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
<div class="
  m6fr
  mobile-text-center
  {{ section.settings.width }}
  size-{{ section.settings.height }}
  size-{{ section.settings.height_mobile }}-mobile
  {% unless section.settings.enable_controls %}no-controls{% endunless %}
  ol-dots
  has-arrows
  "
  {% if section.settings.autoplay %}data-autoplay={{ section.settings.autoplay_seconds | times: 1000 }}{% endif %}
  data-active-content="palette-{{ section.blocks.first.settings.color_palette }}"
  >
  {%- for block in section.blocks -%}
    {%- liquid
      capture current
        cycle 1, 2
      endcapture
      assign overlay = false
      if block.settings.color_palette.id != settings.default_color_scheme.id
        assign overlay = true
      endif
      assign mobile_image = false
      assign alignments = block.settings.text_position | split: ' '
      if alignments.size == 2
        assign position = alignments[0]
      else
        assign position = alignments[1]
      endif
    -%}
  {% if block.settings.image_mobile %}
    {% capture mobile_image %}
      <picture class="mobile-only">
        {% capture srcset %}
          {% render 'image-srcset', image: block.settings.image_mobile, max_width: 940 %}
        {% endcapture %}
        {% capture sizes %}
          (min-width: 768px) 0,
          100vw
        {% endcapture %}
        {% assign alt = block.settings.image_mobile.alt | default: block.settings.title | escape %}
        {%- if section.index > 1 or forloop.first == false -%}
          {{ block.settings.image_mobile | image_url: width: 700, height: 530, crop: 'center' | image_tag: srcset: srcset, sizes: sizes, loading: 'lazy', alt: alt }}
        {%- else %}
          {{ block.settings.image_mobile | image_url: width: 700, height: 530, crop: 'center' | image_tag: srcset: srcset, sizes: sizes, preload: true, alt: alt }}
        {%- endif -%}
      </picture>
    {% endcapture %}
  {% endif %}
    <article class="palette-{{ block.settings.color_palette }}
      block-{{ block.id }}
      {{ block.settings.text_position }}
      {% unless block.settings.layout == 'background' %}
        aside
        {% unless overlay %}
          has-border
        {% endunless %}
      {% endunless %}
      {% if block.settings.layout == 'left' %}inv{% endif %}
      module-color-palette
      "
      data-slide-index={{ forloop.index0 }}
      data-color-palette="palette-{{ block.settings.color_palette }}"
      {{ block.shopify_attributes }}
      style="{% unless block.settings.layout == 'background' %}--w: {{ 100 | minus: block.settings.image_width }}%;{% endunless %}"
    >
      <figure>
        <span class="img-overlay" style="opacity:{{ block.settings.overlay_opacity | divided_by: 100.0 }}"></span>
        {%- if block.settings.video -%}
          {%- liquid
            assign source = block.settings.video.sources | where: "height", 1080 | where: "format", "mp4" | first
            if source == nil
              assign source = block.settings.video.sources | where: "format", "mp4" | first
            endif
            if source == nil
              assign source = block.settings.video.sources | where: "format", "mov" | first
            endif
            if source == nil
              assign source = block.settings.video.sources.first
            endif
          -%}
          {% if block.settings.image_mobile %}
            <video class="lazy mobile-hide" autoplay muted loop playsinline poster="{{ block.settings.video.preview_image | image_url }}">
              <source data-src="{{ source.url }}" type="video/mp4">
            </video>
          {% else %}
            <video class="lazy" autoplay muted loop playsinline poster="{{ block.settings.video.preview_image | image_url }}">
              <source data-src="{{ source.url }}" type="video/mp4">
            </video>
          {% endif %}
          {% if mobile_image %}{{ mobile_image }}{% endif %}
        {%- elsif block.settings.image -%}
          <picture{% if block.settings.image_mobile %} class="mobile-hide"{% endif %}>
            {% capture srcset %}
              {% render 'image-srcset', image: block.settings.image, max_width: 2900 %}
            {% endcapture %}
            {% capture sizes %}
              (min-width: 1300px)
                {% if section.settings.width == 'boxed' or settings.width < 2000 %}
                  {% if block.settings.layout == 'background' %}{{ settings.width }}px{% else %}calc({{ settings.width }}px / 2),{% endif %}
                {% else %}
                  {% if block.settings.layout == 'background' %}100vw{% else %}calc(100vw / 2),{% endif %}
                {% endif %}
            {% if block.settings.image_mobile %}0{% else %}100vw{% endif %}
            {% endcapture %}
            {% assign alt = block.settings.image.alt | default: block.settings.title | escape %}
            {%- if section.index > 1 or forloop.first == false -%}
              {{ block.settings.image | image_url: width: 700, height: 530, crop: 'center' | image_tag: srcset: srcset, sizes: sizes, loading: 'lazy', alt: alt }}
            {%- else %}
              {{ block.settings.image | image_url: width: 700, height: 530, crop: 'center' | image_tag: srcset: srcset, sizes: sizes, preload: true, alt: alt }}
            {%- endif -%}
          </picture>
          {% if mobile_image %}{{ mobile_image }}{% endif %}
        {% else %}
          <picture>
            {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
          </picture>
        {% endif %}
      </figure>
      <div class="{{ position }}
        {% if block.settings.title_underline_style != 'none' %}
          title-underline-none
          {% if block.settings.title_underline_style contains 'accent' %}
            title-underline-accent
          {% elsif block.settings.title_underline_style contains 'gradient' %}
            title-underline-gradient
          {% endif %}
          {% if block.settings.title_underline_style contains 'secondary_font' %}
            title-underline-secondary-font
          {% endif %}
        {% endif %}
      ">
        {%- if block.settings.title != blank -%}
          {{ block.settings.title }}
        {%- endif -%}
        {%- if block.settings.text -%}{{ block.settings.text }}{%- endif -%}
        {%- liquid
          assign first_link = false
          assign first_show_link = false
          assign second_link = false
          assign second_show_link = false
          assign button_dist = false
          if block.settings.show_first_link and block.settings.first_link_text != empty and block.settings.first_link_url != blank
            assign first_link = true
            assign first_button_color = block.settings.first_button_style | split: ' ' | first
            assign first_button_style = block.settings.first_button_style | split: ' ' | last
            if first_button_style == 'link'
              assign first_show_link = true
            endif
          endif
          if block.settings.show_second_link and block.settings.second_link_text != empty and block.settings.second_link_url != blank
            assign second_link = true
            assign second_button_color = block.settings.second_button_style | split: ' ' | first
            assign second_button_style = block.settings.second_button_style | split: ' ' | last
            if second_button_style == 'link'
              assign second_show_link = true
            endif
          endif
          if first_show_link and second_show_link
          elsif first_show_link or second_show_link
            assign button_dist = true
          endif
        -%}
          {%- if first_link or second_link -%}
            <p class="link-btn"{% if button_dist %} style="--btn_dist:var(--btn_ph);"{% endif %}>
              {% if first_link %}
                <a href="{{ block.settings.first_link_url }}" class="overlay-{{ first_button_color }} {% if first_show_link %} strong inline{% elsif first_button_style == 'inv' %} inv{% endif %}">{% if first_show_link %}<span>{% endif %}{{ block.settings.first_link_text }}{% if first_show_link %}</span>&nbsp;<i aria-hidden="true" class="icon-chevron-right"></i>{% endif %}</a>
              {% endif %}
              {%- if second_link -%}
                <a href="{{ block.settings.second_link_url }}" class="overlay-{{ second_button_color }} {% if second_show_link %} strong inline{% elsif second_button_style == 'inv' %} inv{% endif %}">{% if second_show_link %}<span>{% endif %}{{ block.settings.second_link_text }}{% if second_show_link %}</span>&nbsp;<i aria-hidden="true" class="icon-chevron-right"></i>{% endif %}</a>
              {%- endif -%}
            </p>
          {%- endif -%}
        {%- if settings.banners_clickable and block.settings.first_link_url != blank -%}
          <a class="link-overlay" href="{{ block.settings.first_link_url }}" aria-label="{{ block.settings.title | escape | default: block.settings.image.alt | default: "Image banner" }}"></a>
        {%- endif -%}
      </div>
    </article>
  {%- endfor -%}
</div>

<style>
  #shopify-section-{{ section.id }} { z-index: {{ section.settings.fix_zindex }}!important; }
  @media only screen and (min-width: 47.5em) {
    #shopify-section-{{ section.id }} .m6fr { margin-bottom: {{ section.settings.spacing_desktop | minus: 20 }}px; }
    {% if section.settings.enable_custom_height %}
      #shopify-section-{{ section.id }} article { --mih: {{ section.settings.custom_height }}px; }
    {% endif %}
    {% if section.settings.spacing_desktop < 0 %}
      #shopify-section-{{ section.id }} + *.has-kinetic-text { pointer-events: none; }
    {% endif %}
  }
  @media only screen and (max-width: 47.5em) {
    #shopify-section-{{ section.id }} .m6fr > article { margin-bottom: 0; }
    #shopify-section-{{ section.id }} .m6fr { margin-bottom: {{ section.settings.spacing_mobile }}px; }
    {% if section.settings.spacing_mobile < 0 %}
      #shopify-section-{{ section.id }} + *.has-kinetic-text { pointer-events: none; }
    {% endif %}
  }
</style>

{% schema %}
{
  "name": "t:sections.slideshow.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "select",
      "id": "width",
      "label": "t:sections.slideshow.settings.width.label",
      "options": [
        {
          "value": "boxed",
          "label": "t:sections.slideshow.settings.width.options__1.label"
        },
        {
          "value": "wide",
          "label": "t:sections.slideshow.settings.width.options__2.label"
        }
      ],
      "default": "wide"
    },
    {
      "type": "select",
      "id": "height",
      "label": "t:sections.slideshow.settings.height.label",
      "options": [
        {
          "value": "xs",
          "label": "t:sections.slideshow.settings.height.options__1.label"
        },
        {
          "value": "s",
          "label": "t:sections.slideshow.settings.height.options__2.label"
        },
        {
          "value": "m",
          "label": "t:sections.slideshow.settings.height.options__3.label"
        },
        {
          "value": "l",
          "label": "t:sections.slideshow.settings.height.options__4.label"
        }
      ],
      "default": "m"
    },
    {
      "id": "enable_custom_height",
      "type": "checkbox",
      "label": "t:sections.slideshow.settings.enable_custom_height.label"
    },
    {
      "type": "range",
      "id": "custom_height",
      "label": "t:sections.slideshow.settings.custom_height.label",
      "info": "t:sections.slideshow.settings.custom_height.info",
      "min": 250,
      "max": 1000,
      "step": 10,
      "unit": "px",
      "default": 300
    },
    {
      "id": "autoplay",
      "type": "checkbox",
      "label": "t:sections.slideshow.settings.autoplay.label"
    },
    {
      "id": "autoplay_seconds",
      "type": "range",
      "label": "t:sections.slideshow.settings.autoplay_seconds.label",
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "s",
      "default": 3
    },
    {
      "id": "enable_controls",
      "type": "checkbox",
      "label": "t:sections.slideshow.settings.enable_controls.label",
      "info": "t:sections.slideshow.settings.enable_controls.info"
    },
    {
      "type": "header",
      "content": "t:sections.slideshow.settings.mobile.header"
    },
    {
      "type": "select",
      "id": "height_mobile",
      "label": "t:sections.slideshow.settings.mobile.height_mobile.label",
      "options": [
        {
          "value": "xs",
          "label": "t:sections.slideshow.settings.mobile.height_mobile.options__1.label"
        },
        {
          "value": "s",
          "label": "t:sections.slideshow.settings.mobile.height_mobile.options__2.label"
        },
        {
          "value": "m",
          "label": "t:sections.slideshow.settings.mobile.height_mobile.options__3.label"
        },
        {
          "value": "l",
          "label": "t:sections.slideshow.settings.mobile.height_mobile.options__4.label"
        }
      ],
      "default": "m"
    },
    {
      "type": "header",
      "content": "t:global.spacing.header"
    },
    {
      "id": "spacing_desktop",
      "type": "range",
      "label": "t:global.spacing.spacing_desktop.label",
      "min": -300,
      "max": 300,
      "step": 10,
      "unit": "px",
      "default": 50
    },
    {
      "id": "spacing_mobile",
      "type": "range",
      "label": "t:global.spacing.spacing_mobile.label",
      "min": -300,
      "max": 300,
      "step": 10,
      "unit": "px",
      "default": 30
    },
    {
      "id": "fix_zindex",
      "type": "range",
      "label": "t:global.fix_zindex.label",
      "info": "t:global.fix_zindex.info",
      "min": 0,
      "max": 25,
      "step": 1,
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "t:sections.slideshow.blocks.slide.name",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "t:sections.slideshow.blocks.slide.settings.image.label",
          "info": "t:sections.slideshow.blocks.slide.settings.image.info"
        },
        {
          "id": "layout",
          "type": "select",
          "label": "t:sections.slideshow.blocks.slide.settings.layout.label",
          "options": [
            {
              "value": "left",
              "label": "t:sections.slideshow.blocks.slide.settings.layout.options__1.label"
            },
            {
              "value": "right",
              "label": "t:sections.slideshow.blocks.slide.settings.layout.options__2.label"
            },
            {
              "value": "background",
              "label": "t:sections.slideshow.blocks.slide.settings.layout.options__3.label"
            }
          ],
          "default": "background"
        },
        {
          "type": "range",
          "id": "image_width",
          "label": "t:sections.slideshow.blocks.slide.settings.image_width.label",
          "info": "t:sections.slideshow.blocks.slide.settings.image_width.info",
          "min": 40,
          "max": 60,
          "step": 5,
          "unit": "%",
          "default": 50
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "t:sections.slideshow.blocks.slide.settings.overlay_opacity.label",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "default": 0
        },
        {
          "type": "color_scheme",
          "id": "color_palette",
          "label": "t:global.color_palette.label",
          "default": "scheme-7"
        },
        {
          "id": "video",
          "type": "video",
          "label": "t:sections.slideshow.blocks.slide.settings.video.label",
          "info": "t:sections.slideshow.blocks.slide.settings.video.info"
        },
        {
          "id": "text_position",
          "type": "select",
          "label": "t:global.typography.text_position.label",
          "options": [
            {
              "value": "align-top align-start text-start",
              "label": "t:global.typography.text_position.top_left.label"
            },
            {
              "value": "align-top align-center text-center",
              "label": "t:global.typography.text_position.top_center.label"
            },
            {
              "value": "align-top align-end text-end",
              "label": "t:global.typography.text_position.top_right.label"
            },
            {
              "value": "align-start text-start",
              "label": "t:global.typography.text_position.center_left.label"
            },
            {
              "value": "align-center text-center",
              "label": "t:global.typography.text_position.center_center.label"
            },
            {
              "value": "align-end text-end",
              "label": "t:global.typography.text_position.center_right.label"
            },
            {
              "value": "align-bottom text-start",
              "label": "t:global.typography.text_position.bottom_left.label"
            },
            {
              "value": "align-bottom align-center text-center",
              "label": "t:global.typography.text_position.bottom_center.label"
            },
            {
              "value": "align-bottom align-end text-end",
              "label": "t:global.typography.text_position.bottom_right.label"
            }
          ],
          "default": "align-center text-center"
        },
        {
          "type": "header",
          "content": "t:global.typography.title.label"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "t:global.typography.title.label",
          "info": "t:global.typography.title.info",
          "default": "<h2>Image banner</h2>"
        },
        {
          "type": "select",
          "id": "title_underline_style",
          "label": "t:global.typography.title_underline_style.label",
          "options": [
            {
              "value": "none",
              "label": "t:global.typography.title_underline_style.none.label"
            },
            {
              "value": "secondary_font",
              "label": "t:global.typography.title_underline_style.secondary_font.label",
              "group": "t:global.typography.title_underline_style.group.fonts"
            },
            {
              "value": "secondary_font_accent",
              "label": "t:global.typography.title_underline_style.secondary_font_accent.label",
              "group": "t:global.typography.title_underline_style.group.fonts"
            },
            {
              "value": "secondary_font_gradient",
              "label": "t:global.typography.title_underline_style.secondary_font_gradient.label",
              "group": "t:global.typography.title_underline_style.group.fonts"
            },
            {
              "value": "accent",
              "label": "t:global.typography.title_underline_style.accent.label",
              "group": "t:global.typography.title_underline_style.group.colors"
            },
            {
              "value": "gradient",
              "label": "t:global.typography.title_underline_style.gradient.label",
              "group": "t:global.typography.title_underline_style.group.colors"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:global.typography.text.header"
        },
        {
          "id": "text",
          "type": "richtext",
          "label": "t:global.typography.text.label",
          "default": "<p>Highlight a new collection and share details about products related to this image</p>"
        },
        {
          "type": "header",
          "content": "t:sections.slideshow.blocks.slide.settings.buttons.heading"
        },
        {
          "type": "header",
          "content": "t:sections.slideshow.blocks.slide.settings.buttons.first_link.header"
        },
        {
          "id": "show_first_link",
          "type": "checkbox",
          "label": "t:global.button.show_link.label",
          "default": true
        },
        {
          "id": "first_link_text",
          "type": "text",
          "label": "t:global.button.link_text.label",
          "info": "t:global.button.link_text.info",
          "default": "Button"
        },
        {
          "id": "first_link_url",
          "type": "url",
          "label": "t:global.button.link_url.label",
          "default": "/"
        },
        {
          "type": "select",
          "id": "first_button_style",
          "label": "t:global.button.button_style.label",
          "options": [
            {
              "value": "primary plain",
              "label": "t:global.button.button_style.primary.label",
              "group": "t:global.button.button_style.group.plain"
            },
            {
              "value": "secondary plain",
              "label": "t:global.button.button_style.secondary.label",
              "group": "t:global.button.button_style.group.plain"
            },
            {
              "value": "tertiary plain",
              "label": "t:global.button.button_style.tertiary.label",
              "group": "t:global.button.button_style.group.plain"
            },
            {
              "value": "primary inv",
              "label": "t:global.button.button_style.primary.label",
              "group": "t:global.button.button_style.group.inv"
            },
            {
              "value": "secondary inv",
              "label": "t:global.button.button_style.secondary.label",
              "group": "t:global.button.button_style.group.inv"
            },
            {
              "value": "tertiary inv",
              "label": "t:global.button.button_style.tertiary.label",
              "group": "t:global.button.button_style.group.inv"
            },
            {
              "value": "primary link",
              "label": "t:global.button.button_style.primary.label",
              "group": "t:global.button.button_style.group.link"
            },
            {
              "value": "secondary link",
              "label": "t:global.button.button_style.secondary.label",
              "group": "t:global.button.button_style.group.link"
            },
            {
              "value": "tertiary link",
              "label": "t:global.button.button_style.tertiary.label",
              "group": "t:global.button.button_style.group.link"
            }
          ],
          "default": "primary plain"
        },
        {
          "type": "header",
          "content": "t:sections.slideshow.blocks.slide.settings.buttons.second_link.header"
        },
        {
          "id": "show_second_link",
          "type": "checkbox",
          "label": "t:global.button.show_link.label",
          "default": true
        },
        {
          "id": "second_link_text",
          "type": "text",
          "label": "t:global.button.link_text.label",
          "default": "Button"
        },
        {
          "id": "second_link_url",
          "type": "url",
          "label": "t:global.button.link_url.label",
          "default": "/"
        },
        {
          "type": "select",
          "id": "second_button_style",
          "label": "t:global.button.button_style.label",
          "options": [
            {
              "value": "primary plain",
              "label": "t:global.button.button_style.primary.label",
              "group": "t:global.button.button_style.group.plain"
            },
            {
              "value": "secondary plain",
              "label": "t:global.button.button_style.secondary.label",
              "group": "t:global.button.button_style.group.plain"
            },
            {
              "value": "tertiary plain",
              "label": "t:global.button.button_style.tertiary.label",
              "group": "t:global.button.button_style.group.plain"
            },
            {
              "value": "primary inv",
              "label": "t:global.button.button_style.primary.label",
              "group": "t:global.button.button_style.group.inv"
            },
            {
              "value": "secondary inv",
              "label": "t:global.button.button_style.secondary.label",
              "group": "t:global.button.button_style.group.inv"
            },
            {
              "value": "tertiary inv",
              "label": "t:global.button.button_style.tertiary.label",
              "group": "t:global.button.button_style.group.inv"
            },
            {
              "value": "primary link",
              "label": "t:global.button.button_style.primary.label",
              "group": "t:global.button.button_style.group.link"
            },
            {
              "value": "secondary link",
              "label": "t:global.button.button_style.secondary.label",
              "group": "t:global.button.button_style.group.link"
            },
            {
              "value": "tertiary link",
              "label": "t:global.button.button_style.tertiary.label",
              "group": "t:global.button.button_style.group.link"
            }
          ],
          "default": "secondary plain"
        },
        {
          "type": "header",
          "content": "t:sections.slideshow.blocks.slide.settings.mobile.header"
        },
        {
          "id": "image_mobile",
          "type": "image_picker",
          "label": "t:sections.slideshow.blocks.slide.settings.mobile.image_mobile.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.slideshow.presets.name",
      "settings": {
      },
      "blocks": [
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
